[submodule "kokkos_example/kokkos"]
	path = kokkos_example/kokkos
	url = https://github.com/kokkos/kokkos.git
[submodule "raja_example/CARE"]
	path = raja_example/CARE
	url = https://github.com/LLNL/CARE.git
